body{
    background-color: rgb(230, 253, 255);
   font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: #316FF6;
    font-size: 500%;
    margin-bottom: -2%;

}
p{
    font-size: 32px;

}
.main{
    margin-left: 3%;
    margin-top: 20%;

}
.form{
    display: inline-block;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 2px 10px 1px; color:gray;
    width: 30%;
    background-color: white;

}
.text{
    display: inline-block;
    margin-right: 8%;
    margin-left: 4%;


}

.form input{
    margin-bottom: 15px;
    padding: 15px;
    font-size: 18px;
    box-sizing: border-box;
    border: 1px solid #ffffff;
    width: 100%;
    outline: none;
    border-radius: 10px;

}
.form input:focus{
    box-shadow: 0px 0px 1px 1px; color:#316FF6;
}
.form button{
    width: 100%;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    padding: 13px 0;
    cursor: pointer;
    color: white;
    background-color: #316FF6;;
}
.form button:hover{
    background-color: #315FF6;;

}
.form a{
    color: #315FF6;
    font-size: 14px;
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 20px;
    display: block

}
.form a:hover{
    text-decoration: underline;
}
hr{
    border: 1px solid lightgrey;
    margin-bottom: 15px;
}
.form .create a{
    width: 60%;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    padding: 13px 0;
    color: white;
    background-color: #139913;
    margin: auto;
    text-decoration: none;

}
.form .create a:hover{
    text-decoration: none;
    background-color: #108510;
}